<!--

    Copyright 2011-2018 Green Energy Corp.

    Licensed to Green Energy Corp (www.greenenergycorp.com) under one or more
    contributor license agreements. See the NOTICE file distributed with this
    work for additional information regarding copyright ownership. Green Energy
    Corp licenses this file to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->


<div class="table-responsive">
  <table class="table">
    <tbody>
    <tr *ngFor="let state of states" title="{{state.status}}" [class.edge-key-pending]="state.status === 'PENDING'" [class.edge-key-resolved-value]="state.status === 'RESOLVED_VALUE'" [class.edge-key-resolved-absent]="state.status === 'RESOLVED_ABSENT'" [class.edge-key-unresolved]="state.status === 'DATA_UNRESOLVED'" [class.edge-key-disconnected]="state.status === 'DISCONNECTED'">
      <td><edge-path [path]="state.key.key"></edge-path></td>
      <td style="text-align: right">
        <table *ngIf="state.value?.values?.length > 0" class="table">
          <tr>
            <th>Topic</th>
            <th>Value</th>
            <th style="text-align: right">Time</th>
          </tr>
          <tbody>
          <tr *ngFor="let record of state.value?.values.reverse()">
            <td style="text-align: left"><edge-path [path]="record.topic"></edge-path></td>
            <td style="text-align: left"><event-tabular-value [value]="record.value"></event-tabular-value></td>
            <!--<td>{{record.time | date:'HH:mm:ss yyyy-MM-dd'}}</td>-->
            <td style="text-align: right">{{record.time}}</td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="!(state.value?.values?.length > 0)"><em>None</em></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
