
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th style="text-align: right">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let state of states">
      <td><edge-path [path]="state.key.key"></edge-path></td>
      <!--<td><edge-value [value]="state.value?.value"></edge-value></td>-->
      <td style="text-align: right">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keyValueObjectModal" data-key="akey" (click)="setModalState(state)">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>




<div *ngIf="modalState">
  <div class="modal fade" id="keyValueObjectModal" tabindex="-1" role="dialog" aria-labelledby="keyValueObjectModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="keyValueObjectModalLabel"><edge-path [path]="modalState.key.endpointId.name"></edge-path> // <edge-path [path]="modalState.key.key"></edge-path></h4>
        </div>
        <div class="modal-body">
          <!--<table class="table">
            <tr>
              <td>key</td>
              <td style="text-align: right; overflow-wrap:break-word"><code></code></td>
            </tr>
          </table>-->
          <edge-value [value]="modalState.value?.value"></edge-value>
        </div>
      </div>
    </div>
  </div>
</div>
