
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th style="text-align: right">Output</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let state of states" title="{{state.status}}" [class.edge-key-pending]="state.status === 'PENDING'" [class.edge-key-resolved-value]="state.status === 'RESOLVED_VALUE'" [class.edge-key-resolved-absent]="state.status === 'RESOLVED_ABSENT'" [class.edge-key-unresolved]="state.status === 'DATA_UNRESOLVED'" [class.edge-key-disconnected]="state.status === 'DISCONNECTED'">
      <td><edge-path [path]="state.key.key"></edge-path></td>
      <td [ngSwitch]="state.value?.outputType" style="text-align: right">
        <div *ngSwitchCase="'simple_indication'">
          <indication-form [state]="state"></indication-form>
        </div>
        <div *ngSwitchCase="'analog_setpoint'" class="input-group pull-right">
          <setpoint-form [state]="state"></setpoint-form>
        </div>
        <div *ngSwitchCase="'enumeration_setpoint'" class="input-group pull-right">
          <enum-setpoint-form [state]="state"></enum-setpoint-form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
