<h1 class="page-header">
    <edge-path [path]="id.name"></edge-path>
</h1>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Data</a></li>
  <li role="presentation"><a href="#/endpointdesc?name={{name}}">Description</a></li>
</ul>


<div *ngIf="series && series.length > 0">
  <h3>Time Series</h3>
  <series-table [states]="series"></series-table>
</div>

<div *ngIf="outputs && outputs.length > 0">
  <h3>Outputs</h3>
  <outputs-table [states]="outputs"></outputs-table>
</div>

<div *ngIf="keyValues && keyValues.length > 0">
  <h3>Key Values</h3>
  <key-value-table [states]="keyValues"></key-value-table>
</div>

<div *ngIf="events && events.length > 0">
  <h3>Events</h3>
  <event-keys-table [states]="events"></event-keys-table>
  <!--<key-value-table [states]="keyValues"></key-value-table>-->
</div>

