
body {
  padding-top: 50px;
}


.navbar-brand {
  color: #8cc63e;
  border-bottom-width: 6px;
  border-bottom-color: #8cc63e;
  border-bottom-style: solid;
}

.sidebar {
  margin-top: 40px;
}

div.value-panel {
  margin-top: 15px;
}

div.value-panel h5 {
  font-size: 120%;
}

div.value-panel h5 span {
  float: right!important;
}

.edge-value-field-key {
  color: #2f6f9f;
}
.edge-value-field-key .edge-value-scalar-string {
  color: #2f6f9f;
}

.edge-value-scalar-string {
  color: #d44950;
}

.edge-value-tag-name {
  color: #4f9fcf;
}

.edge-value-block {
  font-family: monospace;
}
