
body {
  padding-top: 50px;
}


.navbar-brand {
  color: #8cc63e;
  border-bottom-width: 6px;
  border-bottom-color: #8cc63e;
  border-bottom-style: solid;
}

.sidebar {
  margin-top: 40px;
}

div.value-panel {
  margin-top: 15px;
}

div.value-panel h5 {
  font-size: 120%;
}

div.value-panel h5 span {
  float: right!important;
}
